<h1>Questions</h1>

<table id="questions_table" class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td colspan="3" class="text-center text-muted"><em><%= question.total_votes %> Votes</em></td>
      </tr>
      <tr>
        <td><%= link_to question.title, question %></td>
        <td class="percentages text-success"><%= number_to_percentage(question.yay_percentage, :precision => 0) %></td>
        <td class="percentages text-danger"><%= number_to_percentage(question.nay_percentage, :precision => 0) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_question_path, :class => "btn btn-primary btn-lg btn-block" %>
